
<h2>My Movie</h2>
<ul class="movies">
  <li *ngFor="let movie of movies">
    <button [class.selected]="movie === selectedMovie" type="button" (click)="onSelect(movie)">
      <span class="badge">{{movie.id}}</span>
      <span class="name">{{movie.name}}</span>
    </button>
  </li>
</ul>


<div *ngIf="selectedMovie">
    <h2>{{selectedMovie.name | uppercase}} Details</h2>
    <div>id: {{selectedMovie.id}}</div>
    <div>
      <label for="movie-name">Movie name: </label>
      <input id="movie-name" [(ngModel)]="selectedMovie.name" placeholder="name">
    </div>
  </div>

<!---
<h2>My Movies</h2>
<ul class="movies">
  <li *ngFor="let movie of movies">
    <button [class.selected]="movie === selectedMovie" type="button" (click)="onSelect(movie)">
      <span class="badge">{{movie.id}}</span>
      <span class="name">{{movie.name}}</span>
    </button>
  </li>
</ul>

<div *ngIf="selectedMovie">
  <h2>{{selectedMovie.name | uppercase}} Details</h2>
  <div>id: {{selectedMovie.id}}</div>
  <div>
    <label for="movie-name">Movie name: </label>
    <input id="movie-name" [(ngModel)]="selectedMovie.name" placeholder="name">
  </div>
</div>
-->